import mimetypes

def render_player_template(file_name: str, file_url: str) -> str:
    # Detectar tipo MIME del archivo
    mime_type, _ = mimetypes.guess_type(file_name)
    
    if mime_type:
        if mime_type.startswith("video"):
            player_tag = f'<video src="{file_url}" class="player" controls playsinline></video>'
        elif mime_type.startswith("audio"):
            player_tag = f'<audio src="{file_url}" class="player" controls></audio>'
        else:
            # Si no es audio ni video, mostrar mensaje de descarga
            player_tag = f'<a href="{file_url}" download>📥 Descargar {file_name}</a>'
    else:
        # Por si no detecta el tipo
        player_tag = f'<a href="{file_url}" download>📥 Descargar {file_name}</a>'

    # Leer plantilla
    with open("WebStreamer/template/req.html", "r", encoding="utf-8") as f:
        template = f.read()

    # Reemplazar los %s
    html_content = template % (file_name, file_name, player_tag)
    return html_content
